@import "tailwindcss";

:root {
  --color-primary: #102d4d; /* Deep Navy */
  --color-accent-gold: #d4af37; /* Luxury Gold */
  --color-background-light: #fdfaf6; /* Soft Cream */
  --color-neutral-gray: #f3f4f6; /* Light Gray */
}
@theme {
  --color-primary: var(--color-primary); /* Deep Navy */
  --color-accent-gold: var(--color-accent-gold); /* Luxury Gold */
  --color-background-light: var(--color-background-light); /* Soft Cream */
  --color-neutral-gray: var(--color-neutral-gray); /* Light Gray */
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}
